/* For mobile phones: */
/* [class*="col-"] {
    width: 100%;
  } */
  
#froof-home-image {
    height: 300px;
}

/* https://css-tricks.com/snippets/css/media-queries-for-standard-devices/ */
/* iphone 5 */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #froof-home-image {
        height: 1000px;
    }
}

/* Modal Stuff */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content/Box */
#set-randomized-list-title-modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 20%; /* Could be more or less, depending on screen size */
}
  
/* The Close Button */
#close-set-randomized-list-title-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
#close-set-randomized-list-title-modal:hover,
#close-set-randomized-list-title-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}